#####################################################################
## 	                MCU
#####################################################################

[mcu EBBCan]
canbus_uuid: 238e9ac81ed4   

[mcu]
canbus_uuid= bd1bfefb9143     
canbus_interface:can0

[firmware_retraction]
retract_length: 0.4
retract_speed: 30
unretract_speed: 30    

[save_variables]
filename: ~/printer_data/config/saved_variables.cfg

[exclude_object]

[skew_correction] 

[gcode_arcs]

[include cartographer.cfg]
[include inputshaper.cfg]
[include fans.cfg]
[include macros.cfg] #Includes PRINT_START and PRINT_STOP
[include mainsail.cfg]
[include neopixel.cfg] #LED settings for SB and chamber
#[include btt-sfs.cfg] #Filament Sensor (BTT SFS)
[include galileo2-runout.cfg] #Filament sensor G2E
[include KAMP_Settings.cfg] #Klipper Auto Mesing and Purging
[include timelapse.cfg]
[include clean_nozzle.cfg] #macro for nozzle clean procedure
#[include knomi.cfg] #knomi v2 macros

#####################################################################
##	                 Temperature Monitoring
#####################################################################
[temperature_sensor EBB_NTC]
sensor_type: Generic 3950
sensor_pin: EBBCan:gpio28
[temperature_sensor BTT-MCU]        
sensor_type: temperature_mcu
[temperature_sensor RASP-PI]
sensor_type: temperature_host
[temperature_sensor chamber]
sensor_type: Generic 3950
sensor_pin: PF4
gcode_id: C
[temperature_sensor Carto_MCU]
sensor_type: temperature_mcu
sensor_mcu: scanner
min_temp: 0
max_temp: 105
#####################################################################
##                     Model and acceleration
#####################################################################
[printer]
kinematics: corexy           # Printer type：corexy
max_velocity: 350            # Maximum speed (max. 300)
max_accel: 5000              # Maximum acceleration (max. 4000)
max_z_velocity: 15           # Z-axis maximum speed
max_z_accel: 250             # Z-axis maximum acceleration
square_corner_velocity: 5.0  # Square corner speed

#####################################################################
#   B(X) ---------A(Y)
#   |                |
#   |--------E-------|
#   |                |
#   |                |
#   |                |
#####################################################################
##                   X-axis on MOTOR_0(B Motor)
#####################################################################

[stepper_x]
step_pin: PE2 #PF13             # X-axis motor pulse pin setting
dir_pin: !PE3 #!PF12              # X-axis motor direction pin setting
enable_pin: !PD4 #!PF14          # X-axis motor enable pin setting
microsteps: 32             # Motor microsteps Setting
rotation_distance: 40      # Active pulley circumference mm (2GT-20T pulley 40, 2GT-16T pulley 32)
full_steps_per_rotation:200   # Number of pulses required for a single motor revolution (1.8 degree motor: 200, 0.9 degree motor: 400)
endstop_pin: EBBCan:gpio24 #PG6           # Limit switch PIN pin setting（X-）
position_min: 0            # X-axis minimum travel - software limit
position_endstop: 350 #350    ## Mechanical reset point coordinates for X-axis (change to 350 for 350 models)
position_max: 350  #350       ## X-axis maximum travel - software limit (change to 350 for 350 models)
homing_speed: 100           # Reset speed maximum 100
homing_retract_dist: 5     # Setback distance after the first trigger of the reset switch
homing_positive_dir: true  # Direction of reset (generally no change required)

[tmc2240 stepper_x]
cs_pin: PE1 #PC4
spi_software_sclk_pin: PA5
spi_software_mosi_pin: PA7
spi_software_miso_pin: PA6
driver_TPFD: 0
run_current: 0.8

#####################################################################
##                   Y-axis on MOTOR_1(A Motor)
#####################################################################

[stepper_y]
step_pin: PE6 #PG0              # Y-axis motor pulse pin setting
dir_pin: !PA14 #!PG1               # Y-axis motor direction pin setting
enable_pin: !PE0 #!PF15          # Y-axis motor enable pin setting
microsteps: 32             # Motor microsteps Setting
rotation_distance: 40      # Active pulley circumference mm (2GT-20T pulley 40, 2GT-16T pulley 32)
full_steps_per_rotation:200   # Number of pulses required for a single motor revolution (1.8 degree motor: 200, 0.9 degree motor: 400)
endstop_pin: PG9           # Limit switch PIN pin setting（Y-）
position_min: 0            # X-axis minimum travel - software limit
position_endstop: 350  #350      # Mechanical reset point coordinates for Y-axis (change to 350 for 350 models)
position_max: 354  #350          # Y-axis maximum travel - software limit (change to 350 for 350 models)
homing_speed: 100           # Reset speed maximum 100
homing_retract_dist: 5     # Setback distance after the first trigger of the reset switch
homing_positive_dir: true  # Direction of reset (generally no change required)

[tmc2240 stepper_y]
cs_pin: PD3 #PD11
spi_software_sclk_pin: PA5
spi_software_mosi_pin: PA7
spi_software_miso_pin: PA6
driver_TPFD: 0
run_current: 0.8

#####################################################################
#   z1 -------------- z2
#   |                 |
#   |                 |
#   |                 |
#   |                 |
#  z0---   display ---z3
#####################################################################
##                  Z0-axis
#####################################################################
##		Z0-axis on MOTOR2_1(left front)
[stepper_z]
step_pin: PF11    		   # Z-axis motor pulse pin
dir_pin: !PG3               # Z-axis motor direction pin setting
enable_pin: !PG5           # Z-axis motor enable pin setting
rotation_distance: 40      # Active pulley circumference mm (2GT-20T pulley 40, 2GT-16T pulley 32)
gear_ratio: 80:16          # reduction ratio
microsteps: 16             # microsteps
endstop_pin: probe:z_virtual_endstop #PG10          # Limit switch interface
position_max: 340   #340       # Maximum Z-axis print height   350mm=340
position_min: -5           # Soft Limit Minimum Stroke
homing_speed: 10           # Reset speed - maximum 20
second_homing_speed: 3     # Secondary reset speed - maximum 10
homing_retract_dist: 0     # Retreat distance
#--------------------------------------------------------------------
[tmc2209 stepper_z]        # TMC2209
uart_pin: PC6              # drive communications port
interpolate: true          # Whether to enable 256 microstep interpolation
run_current: 0.8           # Motor running current value(mA)
hold_current: 0.8          # holding current(mA)
sense_resistor: 0.110      # Do not change the drive sampling resistor
stealthchop_threshold: 200 # Mute threshold

#--------------------------------------------------------------------#
##		Z1-axis on MOTOR3(left rear)
[stepper_z1]
step_pin: PG4              # Z1-axis motor pulse pin
dir_pin: PC1              # Z1-axis motor direction pin setting
enable_pin: !PA0           # Z1-axis motor enable pin setting
rotation_distance: 40      # Active pulley circumference mm (2GT-20T pulley 40, 2GT-16T pulley 32)
gear_ratio: 80:16          # reduction ratio
microsteps: 16             # microsteps
#--------------------------------------------------------------------
[tmc2209 stepper_z1]       # TMC2209
uart_pin: PC7              # drive communications port
interpolate: true          # Whether to enable 256 microstep interpolation
run_current: 0.8           # Motor running current value(mA)
hold_current: 0.8          # holding current(mA)
sense_resistor: 0.110      # Do not change the drive sampling resistor
stealthchop_threshold: 200 # Mute threshold

#--------------------------------------------------------------------#
##		Z2-axis on MOTOR4(right-rear)
[stepper_z2]
step_pin: PF9              # Z2-axis motor pulse pin
dir_pin: !PF10              # Z2-axis motor direction pin setting
enable_pin: !PG2           # Z2-axis motor enable pin setting
rotation_distance: 40      # Active pulley circumference mm (2GT-20T pulley 40, 2GT-16T pulley 32)
gear_ratio: 80:16          # reduction ratio
microsteps: 16             # microsteps
#--------------------------------------------------------------------
[tmc2209 stepper_z2]       # TMC2209
uart_pin: PF2              # drive communications port
interpolate: true          # Whether to enable 256 microstep interpolation
run_current: 0.8           # Motor running current value(mA)
hold_current: 0.8          # holding current(mA)
sense_resistor: 0.110      # Do not change the drive sampling resistor
stealthchop_threshold: 200 # Mute threshold

#--------------------------------------------------------------------#
##		Z3-axis on MOTOR5(right-front)
[stepper_z3]
step_pin: PC13             # Z3-axis motor pulse pin
dir_pin: !PF0              # Z3-axis motor direction pin setting
enable_pin: !PF1           # Z3-axis motor enable pin setting
rotation_distance: 40      # Active pulley circumference mm (2GT-20T pulley 40, 2GT-16T pulley 32)
gear_ratio: 80:16          # reduction ratio
microsteps: 16             # microsteps
#--------------------------------------------------------------------
[tmc2209 stepper_z3]       # TMC2209
uart_pin: PE4              # drive communications port
interpolate: true          # Whether to enable 256 microstep interpolation
run_current: 0.8           # Motor running current value(mA)
hold_current: 0.8          # holding current(mA)
sense_resistor: 0.110      # Do not change the drive sampling resistor
stealthchop_threshold: 200 # Mute threshold

#####################################################################
##                  Extruder motor
#####################################################################

[extruder]
step_pin: EBBCan:gpio18
dir_pin: EBBCan:gpio19
enable_pin: !EBBCan:gpio17
full_steps_per_rotation: 200  # Number of pulses required for a single motor revolution (1.8 degree motor: 200, 0.9 degree motor: 400)
microsteps: 16
gear_ratio: 9:1
#gear_ratio: 50:10
rotation_distance: 47.088
#rotation_distance: 22.44 #22.6012
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: EBBCan:gpio7
control: pid
pid_Kp: 21.527
pid_Ki: 1.063
pid_Kd: 108.982
min_temp: 0
max_temp: 300
min_extrude_temp: 100                 # Minimum extrusion temperature
pressure_advance: 0.025                # Propulsion pressure - try to keep pressure below 1.0
pressure_advance_smooth_time: 0.040   # Smooth advance time - default value is 0.040
max_extrude_only_distance: 101
max_extrude_cross_section: 5

sensor_type: MAX31865
sensor_pin: EBBCan:gpio9
spi_software_sclk_pin: EBBCan:gpio10
spi_software_mosi_pin: EBBCan:gpio8
spi_software_miso_pin: EBBCan:gpio11
rtd_nominal_r: 100
rtd_reference_r: 430
rtd_num_of_wires: 2

[tmc2209 extruder]
uart_pin: EBBCan:gpio20
run_current: 0.6 #0.550
stealthchop_threshold: 999999

#--------------------------------------------------------------------
[verify_heater extruder]   # Heating Block Temperature Tolerance Configuration
max_error: 120             # maximum error
check_gain_time:120        # tolerance time
hysteresis: 50             # tolerance temperature
heating_gain: 2            # Heating Gain

#####################################################################
##                  Heater_bed
#####################################################################

[heater_bed]
heater_pin: PA3              # (BE0)
sensor_pin: PF3              # sensor interface(TB)
control: pid                 ##heater_bed Temperature PID Calibration Command:  "PID_CALIBRATE HEATER=heater_bed TARGET=100"
pid_kp: 58.437
pid_ki: 2.347
pid_kd: 363.769
sensor_type: ATC Semitec 104GT-2	 #ATC Semitec 104GT-2
min_temp: 0
max_temp: 120
max_power: 1.0
	
#####################################################################
# 	                   Bed Grid Calibration
#####################################################################

[bed_mesh]
speed: 200                   # Calibration speed
horizontal_move_z: 10        # Z-axis movement speed
mesh_min: 30,22              # Minimum calibration point coordinates x, y
mesh_max: 320, 300           # Maximum calibration point coordinates x, y
probe_count: 15,15             # Number of sampling points (7X7 is 49 points)
mesh_pps: 2,2                # Number of supplementary sampling points
algorithm: bicubic           # algorithmic model
bicubic_tension: 0.2         # Algorithmic interpolation don't move

#####################################################################
#                          Idle off hot bed
#####################################################################

[idle_timeout]
timeout: 1800                # The hot bed is switched off if the idle time exceeds 30 minutes

####################################################################################
#	                         Gantry levelling 
####################################################################################
[quad_gantry_level]
gantry_corners:
   -60,-10
   410,420
points:
   # 10,0   # Point 1
   # 10,300  # Point 2
   # 335,300 # Point 3
   # 335,0  # Point 4

points:
	50,25
	50,275
	300,275
	300,25
#--------------------------------------------------------------------
speed: 200
horizontal_move_z: 10
retries: 5
retry_tolerance: 0.0075
max_adjust: 10

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE8, EXP1_2=PE7,
    EXP1_3=PE9, EXP1_4=PE10,
    EXP1_5=PE12, EXP1_6=PE13,       # Slot in the socket on this side
    EXP1_7=PE14, EXP1_8=PE15,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PA6, EXP2_2=PA5,
    EXP2_3=PB1, EXP2_4=PA4,
    EXP2_5=PB2, EXP2_6=PA7,         # Slot in the socket on this side
    EXP2_7=PC15, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=PC5

[safe_z_home]
home_xy_position: 175,175
z_hop: 10

[shaketune]
# result_folder: ~/printer_data/config/ShakeTune_results
#    The folder where the results will be stored. It will be created if it doesn't exist.
# number_of_results_to_keep: 3
#    The number of results to keep in the result_folder. The oldest results will
#    be automatically deleted after each runs.
# keep_raw_csv: False
#    If True, the raw CSV files will be kept in the result_folder alongside the
#    PNG graphs. If False, they will be deleted and only the graphs will be kept.
# show_macros_in_webui: True
#    Mainsail and Fluidd doesn't create buttons for "system" macros that are not in the
#    printer.cfg file. If you want to see the macros in the webui, set this to True.
# timeout: 300
#    The maximum time in seconds to let Shake&Tune process the CSV files and generate the graphs.

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*#
#*# [extruder]
#*#
#*# [skew_correction CaliFlower]
#*# xy_skew = 0.001401262859055836
#*# xz_skew = 0.0
#*# yz_skew = 0.0
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.209475, 0.198736, 0.182297, 0.170445, 0.158759, 0.146478, 0.134584, 0.133702, 0.130703, 0.135143, 0.137097, 0.148896, 0.162601, 0.184885, 0.212046
#*# 	0.203778, 0.186762, 0.167853, 0.155055, 0.145299, 0.132366, 0.124168, 0.118840, 0.121665, 0.125939, 0.131871, 0.143133, 0.158009, 0.180877, 0.205791
#*# 	0.181117, 0.165181, 0.147394, 0.131177, 0.122672, 0.111163, 0.099738, 0.098543, 0.102771, 0.109210, 0.115142, 0.125355, 0.142340, 0.162438, 0.192411
#*# 	0.164171, 0.148907, 0.131533, 0.112485, 0.102268, 0.090056, 0.084694, 0.083035, 0.085991, 0.094901, 0.101752, 0.115596, 0.128123, 0.152817, 0.179153
#*# 	0.146555, 0.128719, 0.113270, 0.096091, 0.087453, 0.074769, 0.066903, 0.068635, 0.070064, 0.076610, 0.085279, 0.100851, 0.113525, 0.135341, 0.162399
#*# 	0.134263, 0.116259, 0.100298, 0.083159, 0.076085, 0.064344, 0.061416, 0.054059, 0.059985, 0.065091, 0.070759, 0.086540, 0.101024, 0.125036, 0.148588
#*# 	0.120551, 0.103534, 0.086341, 0.070172, 0.062180, 0.054509, 0.046164, 0.045595, 0.048629, 0.055929, 0.061959, 0.077968, 0.093044, 0.116723, 0.140245
#*# 	0.105992, 0.088103, 0.069750, 0.056568, 0.050266, 0.043863, 0.040284, 0.035946, 0.042882, 0.047286, 0.051471, 0.068359, 0.081309, 0.104001, 0.128351
#*# 	0.088960, 0.072632, 0.060039, 0.042985, 0.035950, 0.030432, 0.024410, 0.024613, 0.031260, 0.040273, 0.045752, 0.060131, 0.075454, 0.096340, 0.119885
#*# 	0.087880, 0.074539, 0.056194, 0.040686, 0.033825, 0.028519, 0.023109, 0.024114, 0.034679, 0.042069, 0.048144, 0.064923, 0.076530, 0.099634, 0.121948
#*# 	0.099073, 0.084825, 0.069454, 0.053364, 0.044589, 0.039085, 0.032795, 0.034591, 0.041756, 0.050612, 0.059855, 0.074823, 0.087000, 0.107126, 0.128431
#*# 	0.113534, 0.095347, 0.080626, 0.064384, 0.055516, 0.048088, 0.041384, 0.040082, 0.051385, 0.059392, 0.065449, 0.081959, 0.094941, 0.114932, 0.135134
#*# 	0.126809, 0.108629, 0.095272, 0.079044, 0.068250, 0.063065, 0.050933, 0.052211, 0.063756, 0.072465, 0.079520, 0.093697, 0.112023, 0.127321, 0.142439
#*# 	0.146468, 0.129805, 0.112055, 0.094397, 0.085749, 0.080876, 0.073380, 0.074225, 0.086205, 0.093674, 0.104127, 0.115979, 0.131836, 0.147182, 0.158014
#*# 	0.169818, 0.150445, 0.136790, 0.121583, 0.114018, 0.108569, 0.105762, 0.107288, 0.116094, 0.124204, 0.135622, 0.147581, 0.162925, 0.173575, 0.185034
#*# x_count = 15
#*# y_count = 15
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 30.0
#*# max_x = 320.0
#*# min_y = 22.0
#*# max_y = 300.0
#*#
#*# [scanner model default]
#*# model_coef = 1.4265516569431445,
#*# 	1.790808345066681,
#*# 	0.7523314128498285,
#*# 	0.2947318915071979,
#*# 	0.30927355589233796,
#*# 	0.5930116075844167,
#*# 	-0.014989466680478437,
#*# 	-0.7124325718628739,
#*# 	0.07567741391863615,
#*# 	0.4878797396305116
#*# model_domain = 3.1597454764751907e-07,3.29569557486973e-07
#*# model_range = 0.100000,5.000000
#*# model_temp = 26.401075
#*# model_offset = 0.008
